In [1]:
# Importing packages
import pandas as pd
import numpy as np

In [2]:
# Loading data
data_original = pd.read_csv("case.csv")
data_original.head()

,Order Date,OrderId,Promocode,Order State,Total Amount,Order Cancelled?,Unique ID,NPS
0,Jan 01 2020,OR7395NVA-012ALM647,XYZ20,com.XYZ.order.state.Cancelled,1856.64,True,****714759,7.9
1,Jan 01 2020,OR0877ITA-016ASN971,XYZ20,com.XYZ.order.state.Closed,843.51,False,****445222,1.5
2,Jan 01 2020,OR2995FCB-001AQY345,XYZ22,com.XYZ.order.state.Closed,1724.01,False,****184984,9.3
3,Jan 01 2020,OR5428D-006AME102,XYZ22,com.XYZ.order.state.Closed,1969.70,False,****097817,8.4
4,Jan 01 2020,OR8457HCB-001ANK775,XYZ22,com.XYZ.order.state.Closed,1991.64,False,****244128,8.3

In [3]:
# data when purchased is made
data = data_original[data_original["Order Cancelled?"] == False]

In [4]:
months = ["Aug", "Sep", "Oct", "Nov", "Dec", "Jan"]

In [5]:
# Que-1

ave_amount = []
for m in months:
    amount = 0
    length = 0
    for i in data.index: 
        if(m == data["Order Date"][i][:3]):
            amount = amount + data["Total Amount"][i]
            length =  length + 1
    ave_amount.append(amount/length)

In [6]:
print("Monthly average order value: ")
ave_amount

Monthly average order value:

[880.7358883248729,
 1519.0367519181582,
 906.1203478260875,
 2326.6023309053085,
 2331.2478081813174,
 1495.274428380191]

In [7]:
# Que-2

for m in months:
    df = data[data["Order Date"].str.contains(m)]
    dftemp = data.groupby(['Unique ID']).sum()
    dftemp.sort_values(["Total Amount"], ascending = False, inplace = True)
    print("Top 3 users for month- {}:".format(m))
    temp = dftemp.index[:3]
    for user in temp:
        print(user[4:])  # removed star from unique id
    print("")

Top 3 users for month- Aug:
741440
600811
559399

Top 3 users for month- Sep:
741440
600811
559399

Top 3 users for month- Oct:
741440
600811
559399

Top 3 users for month- Nov:
741440
600811
559399

Top 3 users for month- Dec:
741440
600811
559399

Top 3 users for month- Jan:
741440
600811
559399

In [8]:
# Que-3
# Criteria(considered the orders which were cancelled)

dataLoss = data_original[data_original["Order Cancelled?"] == True]
for m in months:
    df = dataLoss[dataLoss["Order Date"].str.contains(m)]
    revenue_loss = df["Total Amount"].sum()
    print("Revenue loss in the monnth {}: Rs. {}".format(m, revenue_loss))

Revenue loss in the monnth Aug: Rs. 87575.48000000001
Revenue loss in the monnth Sep: Rs. 125851.21999999999
Revenue loss in the monnth Oct: Rs. 159602.61
Revenue loss in the monnth Nov: Rs. 174613.46
Revenue loss in the monnth Dec: Rs. 109761.48999999999
Revenue loss in the monnth Jan: Rs. 288202.92000000004

In [9]:
# Que-4

for m in months:
    df = data[data["Order Date"].str.contains(m)] 
    count = len(pd.unique(df['Unique ID']))
    print("Unique users for month- {}: {}".format(m, count))
    
unq_users = len(pd.unique(data['Unique ID'])) 
print("Unique users overall: {}".format(unq_users))

Unique users for month- Aug: 177
Unique users for month- Sep: 335
Unique users for month- Oct: 489
Unique users for month- Nov: 862
Unique users for month- Dec: 1609
Unique users for month- Jan: 3341
Unique users overall: 4041

In [10]:
# Que-5

from sklearn import preprocessing
le = preprocessing.LabelEncoder()
df = data[:]
df['Order State'] = le.fit_transform(df['Order State'])
correlation = df["Order State"].corr(df["NPS"])
print("Correlation: {}".format(correlation)) # weak correlation

Correlation: -0.024348017687839296

In [11]:
# Que-6
# a)

lis = []
for m in months:
    df = data[data["Order Date"].str.contains(m)] 
    df1 = df.groupby(["Unique ID"]).count()["Total Amount"]
    for i in df1.index:
        if(df1[i] > 1):
            lis.append(i)
print("No. of users who made more than 1 purchase in a month: {}".format(len(set(lis))))

# b)

origdic = {}
count = 0

for m in months:
    df = data[data["Order Date"].str.contains(m)] 
    dic = {}
    for i in df.index:
        dic.update({df["Unique ID"][i] : 1})
    
    for key in dic.keys():
        if key in origdic.keys():
            origdic[key] = origdic[key] + 1
        else:
            origdic.update({key: 1})
for key in origdic.values():
    count = count + 1

print("No. of users who repeated purchase in subsequent months: {}".format(count))

No. of users who made more than 1 purchase in a month: 454
No. of users who repeated purchase in subsequent months: 4041